<!-- Carousel Section -->
<section id="carousel" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Welcome to Sarajevo Local Bus Service</h2>
    <p class="text-center mb-4">
      Reliable and affordable public transport within Sarajevo.
    </p>

@if (!accountService.currentUser()) {
<div class="container mt-5">
  <div style="text-align: center">
    @if(!registerMode){
    <div class="text-center">
      <h3>For all the features</h3>
      <button class="btn btn-primary btn-lg me-2" [routerLink]="'/register'">
        Register
      </button>
      <button class="btn btn-secondary btn-lg me-2" [routerLink]="'/reset-password'">
        Reset password
      </button>
    </div>
    } @else {
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <app-register
            (cancelRegister)="cancelRegisterMode($event)"
          ></app-register>
        </div>
      </div>
    </div>
    }
  </div>
</div>
}

  </div>
</section>
