<h5 class="modal-title">Add new line</h5>
<form #newLineForm="ngForm" (ngSubmit)="addNewLine(newLineForm)">


  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" required lineName [(ngModel)]="lineCreate.name" #name="ngModel" placeholder="Name">
    @if(name.invalid && (name.dirty || name.touched)) {
      @if(name.errors?.['required']) {<div class="text-danger">Name is required.</div>}
      @if(name.errors?.['lineName']) {<div class="text-danger">Name must be in the format 'number: text - text'.</div>}
    }
  </div>

  <div class="mb-3">
    <label class="form-label">Complete distance</label>
    <input type="number" min="0" class="form-control" name="completeDistance" required [(ngModel)]="lineCreate.completeDistance"  #completeDistance="ngModel" placeholder="0km">
    @if(completeDistance.invalid && (completeDistance.dirty || completeDistance.touched)) {
      @if(completeDistance.errors?.['required']) {<div class="text-danger">Complete distance is required.</div>}
      @if(completeDistance.errors?.['min']) {<div class="text-danger">Complete distance must be a positive number.</div>}
    }
  </div>


  <div class="form-check form-switch">
    <input name="isActive" [(ngModel)]="lineCreate.isActive" class="form-check-input" type="checkbox" role="switch"
      id="flexSwitchCheckChecked">
    <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
  </div>


  <div class="button-container">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>