<div class="container mt-2">
  <h5 class="modal-title">Update manager data</h5>
  <form #updateManagerForm="ngForm" (ngSubmit)="saveChanges()">

    <div class="mb-3">
      <label class="form-label" for="firstName">First Name:</label>
      <input class="form-control" id="firstName" name="firstName" [(ngModel)]="managerUpdate.firstName"
        #firstName="ngModel" required lettersOnly type="text">
      @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
      @if (firstName.errors?.['required']) {
      <div class="text-danger">First Name is required.</div>
      }
      @if (firstName.errors?.['lettersOnly']) {
      <div class="text-danger">First Name must only contain letters.</div>
      }
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="lastName">Last Name:</label>
      <input class="form-control" id="lastName" name="lastName" [(ngModel)]="managerUpdate.lastName" #lastName="ngModel"
        required lettersOnly type="text">
      @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
      @if (lastName.errors?.['required']) {
      <div class="text-danger">Last Name is required.</div>
      }
      @if (lastName.errors?.['lettersOnly']) {
      <div class="text-danger">Last Name must only contain letters.</div>
      }
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" id="email" name="email" [(ngModel)]="managerUpdate.email" #email="ngModel" required
        email type="email">
        @if (email.invalid && (email.dirty || email.touched)) {
          <div class="text-danger">
            @if (email.errors?.['required']) {Email is required.}
            @if (email.errors?.['email']) {Invalid email format.}
          </div>
          }
          @if (emailExists) {
            <div class="text-danger">This email is already in use.</div>
          }
    </div>

    <div class="mb-3">
      <label class="form-label" for="birthDate">Birth Date:</label>
      <input class="form-control" id="birthDate" name="birthDate" [(ngModel)]="managerUpdate.birthDate"
        #birthDate="ngModel" required type="date" [minDate]="'1900-01-01'" appValidDate>
      @if (birthDate.invalid && (birthDate.dirty || birthDate.touched)) {
      @if (birthDate.errors?.['required']) {
      <div class="text-danger">Birth Date is required.</div>
      }
      @if (birthDate.errors?.['minDate']) {
      <div class="text-danger">{{ birthDate.errors?.['minDate'] }}</div>
      }
      @if (birthDate.errors?.['maxDate']) {
      <div class="text-danger">{{ birthDate.errors?.['maxDate'] }}</div>
      }
      @if (birthDate.errors?.['invalidDate']) {
      <div class="text-danger">Invalid date format.</div>
      }
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="address">Address:</label>
      <input class="form-control" id="address" name="address" [(ngModel)]="managerUpdate.address" #address="ngModel"
        required type="text">
      @if (formSubmitted && address.invalid) {
      @if (address.errors?.['required']) {
      <small>Address is required.</small>
      }
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="hireDate">Hire Date:</label>
      <input class="form-control" id="hireDate" name="hireDate" [(ngModel)]="managerUpdate.hireDate" #hireDate="ngModel"
        required type="date" appValidDate>
        @if (hireDate.invalid && (hireDate.dirty || hireDate.touched)) {
          @if (hireDate.errors?.['required']) {
          <div class="text-danger">Hire Date is required.</div>
          }
          @if (hireDate.errors?.['minDate']) {
          <div class="text-danger">{{ hireDate.errors?.['minDate'] }}</div>
          }
          @if (hireDate.errors?.['maxDate']) {
          <div class="text-danger">{{ hireDate.errors?.['maxDate'] }}</div>
          }
          @if (hireDate.errors?.['invalidDate']) {
          <div class="text-danger">Invalid date format.</div>
          }
          }
    </div>

    <div class="mb-3">
      <label class="form-label" for="department">Department:</label>
      <select class="form-control" id="department" name="department" [(ngModel)]="managerUpdate.department"
        #department="ngModel" required lettersOnly>
        <option value="">Select a department</option>
        @for (dept of departments; track dept.id) {
        <option [value]="dept.name">{{dept.name}}</option>
        }
      </select>
      @if (department.invalid && (department.dirty || department.touched)) {
        @if (department.errors?.['required']) {
          <div class="text-danger">Department is required.</div>
        }
        @if (department.errors?.['lettersOnly']) {
          <div class="text-danger">Department must only contain letters.</div>
        }
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="managerLevel">Manager Level:</label>
      <select class="form-control" id="managerLevel" name="managerLevel" [(ngModel)]="managerUpdate.managerLevel"
        #managerLevel="ngModel" required lettersOnly>
        <option value="">Select a manager level</option>
        @for (level of managerLevels; track level.id) {
        <option [value]="level.name">{{level.name}}</option>
        }
      </select>
      @if (managerLevel.invalid && (managerLevel.dirty || managerLevel.touched)) {
        @if (managerLevel.errors?.['required']) {
        <div class="text-danger">Manager level is required.</div>
        }
        @if (managerLevel.errors?.['lettersNumbers']) {
        <div class="text-danger">Manager level can only contain letters.</div>
        }
        }
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="button" class="btn btn-danger" (click)="closeDialog()">Cancel</button>
  </form>
</div>