<h5 class="modal-title text-center">Add New Notification</h5>
<form #newNotifForm="ngForm" (ngSubmit)="addNewNotification(newNotifForm)">
    <div class="row justify-content-center">
        <!-- Left Column (Image Input and Image Preview) -->
        <div class="mb-3" style="max-width: 35%;">

            <label class="form-label">Upload Image</label>

            @if (imagePreview) {
                <div class="mt-3" style="border: 2px solid lightgray; padding: 10px; border-radius: 5px;"  (click)="onImageClick()">
                    <img [src]="imagePreview" alt="Image Preview" class="img-thumbnail w-100" style="max-height: 75%; object-fit: contain;">
                </div>
            } @else {
                <div class="mt-3" style="border: 2px dashed lightgray; padding: 10px; text-align: center; border-radius: 5px; height: 85%; display: flex; justify-content: center; align-items: center;" (dragover)="onDragOver($event)" (drop)="onDrop($event)" (click)="onImageClick()">
                    <p>No image uploaded. Please select an image.</p>
                </div>
            }
            
            <!-- Hidden File Input -->
            <input type="file" class="form-control" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">

        </div>

        <!-- Right Column (Form Fields) -->
        <div class="mb-3" style="max-width: 35%;">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" name="title" class="form-control" required [(ngModel)]="notificationCreate.title" lettersNumbers
                    #title="ngModel" placeholder="Title">
                @if(title.invalid && (title.dirty || title.touched)) {
                @if(title.errors?.['required']) {<div class="text-danger">Title is required.</div>}
                @if(title.errors?.['lettersNumbers']) {<div class="text-danger">Title can only contain letters and numbers.</div>}
                }
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="description" class="form-control" rows="4" required minlength="10"
                    [(ngModel)]="notificationCreate.description" #description="ngModel"
                    placeholder="Description"></textarea>
                @if(description.invalid && (description.dirty || description.touched)) {
                @if(description.errors?.['required']) {<div class="text-danger">Description is required.</div>}
                @if(description.errors?.['minlength']) {<div class="text-danger">Must have at least 10 characters.</div>}
                }
            </div>

            <div class="mb-3">
                <label class="form-label">Notification Type</label>
                <select class="form-select" name="notificationTypeId" required
                    [(ngModel)]="notificationCreate.notificationTypeId" #notificationTypeId="ngModel">
                    @for (notifType of notificationTypes; track notifType.id) {
                    <option [value]="notifType.id">{{ notifType.name }}</option>
                    }
                </select>
                @if(notificationTypeId.invalid && (notificationTypeId.dirty || notificationTypeId.touched)) {
                @if(notificationTypeId.errors?.['required']) {<div class="text-danger">Notification type is required.
                </div>}
                }
            </div>

            <div class="mb-3">
                <label class="form-label">Line</label>
                <select class="form-select" name="lineId" [(ngModel)]="notificationCreate.lineId" #lineId="ngModel">
                    <option value="" selected>No line</option>
                    @for (line of lines; track line.id) {
                    <option [value]="line.id">{{ line.name }}</option>
                    }
                </select>
            </div>
        </div>
        
    </div>

    <!-- Buttons -->
    <div class="button-container text-center">
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>