.textarea{
    height: 100px;
}

.modal-title,.mb-3,.form-check, .btn{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:auto;
    margin:0;
}.button-container {
    display: flex;
    justify-content: center; /* This will center the buttons horizontally */
    gap: 10px; /* Adds space between the buttons */
    margin-top: 20px; /* Optional: Add some space at the top */
}
