<div class="container">
  <form #registerStationForm="ngForm" (ngSubmit)="addNewStation(registerStationForm)">
      <h2 class="text-center text-primary">Add new station</h2>
      <hr>
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="name"
              (blur)="checkStationExists()"
              [(ngModel)]="stationCreate.name"
              #name="ngModel"
              required
              lettersNumbers
              placeholder="Musala"
            />
            <label>Name</label>
            @if (name.invalid && (name.dirty || name.touched)) {
              @if (name.errors?.['required']) {<div class="text-danger">Name is required. </div>}
              @if (name.errors?.['lettersNumbers']) {<div class="text-danger">Name can only contain letters and numbers</div>}
            }
            @if (stationExists) {
              <div class="text-danger">
                This station already exists.
              </div>
            }
          </div>
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="location"
              [(ngModel)]="stationCreate.location"
              #location="ngModel"
              required
              lettersNumbers
              placeholder="Location"
            />
            <label>Location</label>
            @if (location.invalid && (location.dirty || location.touched)) {
              @if (location.errors?.['required']) {<div class="text-danger"> Location is required.</div>}
              @if (location.errors?.['lettersNumbers']) {<div class="text-danger">Location can only contain letters and numbers</div>}
            }
          </div>
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="gpsCode"
              [(ngModel)]="stationCreate.gpsCode"
              #gpsCode="ngModel"
              required
              appGpsCodeValidator
              placeholder="gpsCode"
            />
            <label>GPS code</label>
            @if (gpsCode.invalid && (gpsCode.dirty || gpsCode.touched)) {
              @if (gpsCode.errors?.['required']) {<div class="text-danger"> GPS code is required.</div>}
              @if (gpsCode.errors?.['invalidGpsCode']) {<div class="text-danger">GPS Code must be in the correct format (e.g., 1.12, 9.78).</div>}
            }
          </div>
          <div class="mb-3 form-floating">
            <select class="form-select" name="zoneId" [(ngModel)]="stationCreate.zoneId" #zoneId="ngModel" required>
              @for (zone of zones; track zone.id) {
                <option [value]="zone.id">
                  {{ zone.name }}
                </option>
              }
            </select>
            <label>Select zone </label>
            @if (zoneId.invalid && (zoneId.dirty || zoneId.touched)) {
              <div class="text-danger">
                Zone selection is required.
              </div>
            }
          </div>
    
      <div class="form-group text-center">
        <button class="btn btn-primary me-2" type="submit">
          Add
        </button>
        <button class="btn btn-danger me-2" type="button" [routerLink]="'/manager-dashboard/stations'">
          Cancel
        </button>
      </div>
    </form>
    @if (errorMessage) {
      <div class="alert alert-danger mt-2">
        {{ errorMessage }}
      </div>
    }
  </div>