<div class="container">
  <form #registerStationForm="ngForm" (ngSubmit)="addNewStation(registerStationForm)">
      <h2 class="text-center text-primary">Add new station</h2>
      <hr>
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="name"
              (blur)="checkStationExists()"
              [(ngModel)]="stationCreate.name"
              #name="ngModel"
              required
              placeholder="Musala"
            />
            <label>Name</label>
            @if (name.invalid && (name.dirty || name.touched)) {
              <div class="text-danger">
                Name is required.
              </div>
            }
            @if (stationExists) {
              <div class="text-danger">
                This station already exists.
              </div>
            }
          </div>
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="location"
              [(ngModel)]="stationCreate.location"
              #location="ngModel"
              required
              placeholder="Location"
            />
            <label>Location</label>
            @if (location.invalid && (location.dirty || location.touched)) {
              <div class="text-danger">
                Location is required.
              </div>
            }
          </div>
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="gpsCode"
              [(ngModel)]="stationCreate.gpsCode"
              #gpsCode="ngModel"
              required
              placeholder="gpsCode"
            />
            <label>GPS code</label>
            @if (gpsCode.invalid && (gpsCode.dirty || gpsCode.touched)) {
              <div class="text-danger">
                GPS code is required.
              </div>
            }
          </div>
          <div class="mb-3 form-floating">
            <select class="form-select" name="zoneId" [(ngModel)]="stationCreate.zoneId" #zoneId="ngModel" required>
              @for (zone of zones; track zone.id) {
                <option [value]="zone.id">
                  {{ zone.name }}
                </option>
              }
            </select>
            <label>Select zone </label>
            @if (zoneId.invalid && (zoneId.dirty || zoneId.touched)) {
              <div class="text-danger">
                Zone selection is required.
              </div>
            }
          </div>
    
      <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">
          Add
        </button>
        <button class="btn btn-default me-2" type="button" [routerLink]="'/manager-dashboard/stations'">
          Cancel
        </button>
      </div>
    </form>
    @if (errorMessage) {
      <div class="alert alert-danger mt-2">
        {{ errorMessage }}
      </div>
    }
  </div>