
    <div class="container mt-5">
        <div style="text-align: center;">
            @if(!registerMode){
                <h1>Gradski prevozni sistem</h1>
                <p class="lead">Za sve funkcionalnosti molimo vas da se registujete</p>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()" >
                        Register
                    </button>
                </div>
            }
            @else {
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <app-register></app-register>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
    
