.sortable {
    cursor: pointer;
    user-select: none;
  }
  
  .sortable:hover {
    text-decoration: underline;
  }
  
  .sort-asc::after {
    content: " ▲"; /* Up Arrow */
  }
  
  .sort-desc::after {
    content: " ▼"; /* Down Arrow */
  }
  
  .truncate-description {
    max-width: 200px; /* Adjust width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }