
<button routerLink="/manager-dashboard/notifications/add" type="button" class="btn btn-success">Add new notification</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Notification Type</th>
      <th scope="col">Duration</th>
      <th scope="col">Date</th>
      <th scope="col">Line</th>
      <th scope="col">Activ </th>
      <th scope="col"></th>
      <th scope="col" ></th>
    </tr>
  </thead>
  <tbody>


    @for (notification of notifications; track $index) {
    <tr>
      <th scope="row">{{$index + 1}}</th>
      <td>{{notification.description}}</td>
      <td>{{notification.notificationType.name}}</td>
      <td>{{notification.duration}}</td>
      <td>{{notification.date}}</td>
      <td>{{notification.line.name}}</td>
      <td>@if(notification.isActive){Active}@else{Not active}</td>
      <td><button type="button" class="btn btn-primary" (click)="openEditDialog(notification)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deleteNotificatiom(notification.id)">Delete</button></td>
    </tr>
    }
  </tbody>
</table>