<button routerLink="/manager-dashboard/notifications/add" type="button" class="btn btn-success">Add new
  notification</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th (click)="sortTable('title')" class="sortable">Title <span [class]="getSortIcon('title')"></span></th>
      <th (click)="sortTable('description')" class="sortable">Description <span [class]="getSortIcon('description')"></span></th>
      <th (click)="sortTable('notificationType')" class="sortable">Notification Type <span [class]="getSortIcon('notificationType')"></span></th>
      <th (click)="sortTable('creationDate')" class="sortable">Created Date <span [class]="getSortIcon('creationDate')"></span></th>
      <th (click)="sortTable('line')" class="sortable">Line <span [class]="getSortIcon('line')"></span></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>


    @for (notification of notifications; track $index) {
    <tr>
      <th scope="row">{{$index + 1}}</th>
      <td>{{notification.title}}</td>
      <td class="truncate-description" [attr.title]="notification.description">
        {{notification.description}}
      </td>
      <td>{{notification.notificationType.name}}</td>
      <td>{{notification.creationDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{notification.line!=null?notification.line.name:"No line"}}</td>
      <td>
        <button type="button" class="btn btn-primary" style="margin-right: 20px;" (click)="openEditDialog(notification)"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-danger" (click)="deleteNotificatiom(notification.id)"><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          width="20"
          height="20"
        >
          <path
            d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"
            fill="white"
          />
        </svg>
</button>
      </td>
    </tr>
    }
  </tbody>
</table>