<button type="button" class="btn btn-success" (click)="goToAddForm()">Add new shift</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bus</th>
      <th scope="col">Driver</th>
      <th scope="col">Shift date</th>
      <th scope="col">Shift starting time</th>
      <th scope="col">Shift ending time</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>


    @for (shift of shifts; track $index) {
    <tr>
      <th scope="row">{{$index + 1}}</th>
      <td>{{shift.bus.registrationNumber}}</td>
      <td>{{shift.driver.firstName+" "+shift.driver.lastName}}</td>
      <td>{{shift.shiftDate}}</td>
      <td>{{shift.shiftStartingTime}}</td>
      <td>{{shift.shiftEndingTime}}</td>


      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="openEditDialog(shift)">
          <i class="bi bi-pencil"></i>
        </button>
      </td>

      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="openShiftDetails(shift)">
          Shift details
        </button>
      </td>

      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="downloadShiftDetails(shift.id)">
          <i class="bi bi-download"></i>
        </button>
      </td>

      <td class="text-center">
        <button type="button" class="btn btn-danger" (click)="deleteShift(shift.id)">
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>