<div class="container">
  <form #registerManagerForm="ngForm" (ngSubmit)="addNewManager(registerManagerForm)">
      <h2 class="text-center text-primary">Add new manager</h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="firstName"
              [(ngModel)]="managerCreate.firstName"
              #firstName="ngModel"
              required
              placeholder="First Name"
            />
            <label>First Name</label>
            @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
              <div class="text-danger">
                First Name is required.
              </div>
            }
          </div>
    
          <div class="mb-3 form-floating">
            <input
              type="email"
              class="form-control"
              name="email"
              (blur)="checkEmailExists()"
              [(ngModel)]="managerCreate.email"
              #email="ngModel"
              required
              email
              placeholder="Email"
            />
            <label>Email</label>
            @if (email.invalid && (email.dirty || email.touched)) {
              <div class="text-danger">
                @if (email.errors?.['required']) {
                  Email is required.
                }
                @if (email.errors?.['email']) {
                  Invalid email format.
                }
              </div>
            }
            @if (emailExists) {
              <div class="text-danger">
                This email is already in use. Please use a different email.
              </div>
            }
          </div>
    
          <div class="mb-3 form-floating">
            <input
              type="date"
              class="form-control"
              name="birthDate"
              [(ngModel)]="managerCreate.birthDate"
              [max]="maxDate"
              #birthDate="ngModel"
              required
              placeholder="Birth Date"
            />
            <label>Birth Date</label>
            @if (birthDate.invalid && (birthDate.dirty || birthDate.touched)) {
              <div class="text-danger">
                Birth Date is required.
              </div>
            }
          </div>
          <div class="mb-3 form-floating">
            <select class="form-select" name="managerLevel" [(ngModel)]="managerCreate.managerLevel" #managerLevel="ngModel" required>
              @for (managerLevel of managerLevels; track managerLevel.id) {
                <option [value]="managerLevel.id">
                  {{ managerLevel.name }}
                </option>
              }
            </select>
            <label>Select manager level</label>
            @if (managerLevel.invalid && (managerLevel.dirty || managerLevel.touched)) {
              <div class="text-danger">
                Manager level selection is required.
              </div>
            }
          </div>
        </div>
    
        <div class="col-md-6">
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="lastName"
              [(ngModel)]="managerCreate.lastName"
              #lastName="ngModel"
              required
              placeholder="Last Name"
            />
            <label>Last Name</label>
            @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
              <div class="text-danger">
                Last Name is required.
              </div>
            }
          </div>
    
          <div class="mb-3 form-floating position-relative">
              <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              name="password"
              [(ngModel)]="managerCreate.password"
              #password="ngModel"
              required
              placeholder="Password"
              (input)="onPasswordInput()"
              (focus)="onPasswordFocus()"
              (blur)="onPasswordBlur()"
              />
              <label>Password</label>
              <button type="button" 
              class="position-absolute end-0 top-50 translate-middle-y"
              style="width: 30px !important; height: 30px !important; padding: 0 !important; font-size: 18px !important; border-radius: 50% !important; display: flex; align-items: center; justify-content: center; border: none !important; background-color: transparent !important;" 
              (click)="togglePasswordVisibility()">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
              @if (password.dirty || password.touched) {
                <div class="text-danger">
                  @if (password.errors?.['required']) {
                    Password is required.
                  }
                </div>
              }
              <app-password-strength-indicator
            [show]="showPasswordStrength"
            [hasUpperCase]="hasUpperCase"
            [hasLowerCase]="hasLowerCase"
            [hasNumber]="hasNumber"
            [hasSpecialChar]="hasSpecialChar"
            [hasMinLength]="hasMinLength"
            ></app-password-strength-indicator>
            </div>    
    
          <div class="mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              name="address"
              [(ngModel)]="managerCreate.address"
              #address="ngModel"
              required
              placeholder="Address"
            />
            <label>Address</label>
            @if (address.invalid && (address.dirty || address.touched)) {
              <div class="text-danger">
                Address is required.
              </div>
            }
          </div>
          <div class="mb-3 form-floating">
            <input
              type="date"
              class="form-control"
              name="hireDate"
              [(ngModel)]="managerCreate.hireDate"
              #hireDate="ngModel"
              [max]="maxDate"
              required
              placeholder="Hire Date"
            />
            <label>Hire Date</label>
            @if (hireDate.invalid && (hireDate.dirty || hireDate.touched)) {
              <div class="text-danger">
                Hire Date is required.
              </div>
            }
          </div>
        </div>
      </div>
  
      <div class="mb-3 form-floating">
        <select class="form-select" name="department" [(ngModel)]="managerCreate.department" #department="ngModel" required>
          @for (department of departments; track department.id) {
            <option [value]="department.id">
              {{ department.name }}
            </option>
          }
        </select>
        <label>Select department</label>
        @if (department.invalid && (department.dirty || department.touched)) {
          <div class="text-danger">
            Department selection is required.
          </div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label">Upload Profile Image</label>
        <input type="file" class="form-control" name="image" (change)="onFileSelected($event)" #fileInput />
      </div>
    
      <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">
          Register
        </button>
        <button class="btn btn-default me-2" type="button" [routerLink]="'/manager-dashboard/managers'">
          Cancel
        </button>
      </div>
    </form>
    @if (errorMessage) {
      <div class="alert alert-danger mt-2">
        {{ errorMessage }}
      </div>
    }
  </div>