.success-snackbar {
    background-color: #4caf50 !important; /* Green */
    color: white !important;
  }
  
  .error-snackbar {
    background-color: #f44336 !important; 
    color: white !important;
  }
  
  .warning-snackbar {
    background-color: #ff9800 !important; /* Orange */
    color: white !important;
  }