<div class="container">
  <form #registerScheduleForm="ngForm" (ngSubmit)="addNewSchedule(registerScheduleForm)">
      <h2 class="text-center text-primary">Add new schedule</h2>
      <hr>
          <div class="mb-3 form-floating">
            <select class="form-select" name="lineId" [(ngModel)]="scheduleCreate.lineId" #lineId="ngModel" required>
              @for (line of lines; track line.id) {
                <option [value]="line.id">
                  {{ line.name }}
                </option>
              }
            </select>
            <label>Select line </label>
            @if (lineId.invalid && (lineId.dirty || lineId.touched)) {
              <div class="text-danger">
                Line selection is required.
              </div>
            }
          </div>
          <div class="mb-3 form-floating">
            <input 
              type="time" 
              class="form-control" 
              id="departureTime" 
              name="departureTime" 
              [(ngModel)]="scheduleCreate.departureTime" 
              #departureTime="ngModel" 
              required
            >
            <label for="departureTime">Departure Time</label>
            @if (departureTime.invalid && (departureTime.dirty || departureTime.touched)) {
              <div class="text-danger">
                Departure time is required.
              </div>
            }
          </div>
    
      <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">
          Add
        </button>
        <button class="btn btn-default me-2" type="button" [routerLink]="'/manager-dashboard/schedules'">
          Cancel
        </button>
      </div>
    </form>
    @if (errorMessage) {
      <div class="alert alert-danger mt-2">
        {{ errorMessage }}
      </div>
    }
  </div>