:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --sub-text: #555555;
  --btn-text-color: #ffffff;
  --card-background: #f0f0f0;
  --input-background: #ffffff;
  --input-border: #ced4da;
  --button-primary: #007bff;
  --button-primary-hover: #0056b3;
  --table-header-background: #f8f9fa;
  --table-body-background: #ffffff;
  --table-border: #dee2e6;
  --table-hover: #f5f5f5;
  --label-color: #495057;
  --nav-background: #ffffff;
  --accordion-background: #cfe2ff;
  --accordion-collapsed-background: #ffffff;
  --accordion-arrow-color: #000000;
  --accordion-arrow-invert: 0%;
  --accordion-button-bg: #f8f9fa;
  --accordion-button-active-bg: #e7f1ff;
  --featured-card-background:#f0f0f0;
}

.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --sub-text: #c7c7c7c7;
  --card-background: #1e1e1e;
  --input-background: #2c2c2c;
  --input-border: #444444;
  --button-primary: #0d6efd;
  --button-primary-hover: #0b5ed7;
  --table-header-background: #2c2c2c;
  --table-body-background: #1e1e1e;
  --table-border: #444444;
  --table-hover: #2a2a2a;
  --label-color: #dfe2e5;
  --nav-background: #212529;
  --accordion-background: #2c2c2c;
  --accordion-collapsed-background: #4d4d4d;
  --accordion-arrow-color: #ffffff;
  --accordion-arrow-invert: 100%;
  --accordion-button-bg: #2b3035;
  --accordion-button-active-bg: #3a3f44;
  --featured-card-background:#303030;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-background);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  filter: none;
  background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: var(--bs-accordion-btn-icon-transform);
  filter: none;
  background-color: transparent;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  color: var(--text-color);
}
