<h5 class="modal-title">Add new credit card</h5>
<form #newCreditCardForm="ngForm" (ngSubmit)="addNewCreditCard(newCreditCardForm)">

  <div class="mb-3">
    <label class="form-label">Card number</label>
    <input type="text" name="cardNumber" class="form-control" required [(ngModel)]="creditCardCreate.cardNumber"
      #cardNumber="ngModel" placeholder="XXXX XXXX XXXX XXXX" pattern="^\d{13,19}$"
      [title]="'Card number must be between 13 and 19 digits.'">

    <!-- Error validation messages -->
    @if(cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)) {
    @if(cardNumber.errors?.['required']) {
    <div class="text-danger">Card number is required.</div>
    }
    @if(cardNumber.errors?.['pattern']) {
    <div class="text-danger">Card number must be between 13 and 19 digits.</div>
    }
    @if(cardNumber.errors?.['luhn']) {
    <div class="text-danger">Invalid card number. Please check your entry.</div>
    }
    }
  </div>

  <div class="mb-3">
    <label class="form-label">Expiration date</label>
    <input type="text" name="expirationDate" class="form-control" required [(ngModel)]="creditCardCreate.expirationDate"
      #expirationDate="ngModel" placeholder="MM/YY" pattern="^(0[1-9]|1[0-2])\/([0-9]{2})$" [min]="minExpirationDate"
      title="Please enter a valid expiration date in MM/YY format.">

    <!-- Error validation messages -->
    @if(expirationDate.invalid && (expirationDate.dirty || expirationDate.touched)) {
    @if(expirationDate.errors?.['required']) {
    <div class="text-danger">Expiration date is required.</div>
    }
    @if(expirationDate.errors?.['pattern']) {
    <div class="text-danger">Expiration date must be in MM/YY format.</div>
    }
    @if(expirationDate.errors?.['min']) {
    <div class="text-danger">Expiration date cannot be in the past.</div>
    }
    }
  </div>

  <div class="mb-3">
    <label class="form-label">Card name</label>
    <input type="text" name="cardName" class="form-control" required [(ngModel)]="creditCardCreate.cardName"
      #cardName="ngModel" placeholder="John Doe" minlength="3" maxlength="50"
      pattern="^[A-Za-z]+(\s[A-Za-z]+)*$"
      title="Card name should contain only letters, spaces, and apostrophes (e.g., 'John Doe').">

    <!-- Error validation messages for Card Name -->
    @if(cardName.invalid && (cardName.dirty || cardName.touched)) {
    @if(cardName.errors?.['required']) {
    <div class="text-danger">Card name is required.</div>
    }
    @if(cardName.errors?.['minlength']) {
    <div class="text-danger">Card name must be at least 3 characters long.</div>
    }
    @if(cardName.errors?.['maxlength']) {
    <div class="text-danger">Card name cannot be more than 50 characters long.</div>
    }
    @if(cardName.errors?.['pattern']) {
    <div class="text-danger">Card name can only contain letters, spaces, and apostrophes.</div>
    }
    }
  </div>


  <div class="mb-3">
    <label class="form-label">CCV</label>
    <input type="number" class="form-control" name="ccv" required [(ngModel)]="creditCardCreate.ccv" #ccv="ngModel"
      placeholder="000" min="100" max="9999" [attr.inputmode]="'numeric'">

    <!-- Error validation messages -->
    @if(ccv.invalid && (ccv.dirty || ccv.touched)) {
    @if(ccv.errors?.['required']) {
    <div class="text-danger">CCV is required.</div>
    }
    @if(ccv.errors?.['min']) {
    <div class="text-danger">CCV must be at least 3 digits long.</div>
    }
    @if(ccv.errors?.['max']) {
    <div class="text-danger">CCV must be no more than 4 digits long.</div>
    }
    @if(ccv.errors?.['pattern']) {
    <div class="text-danger">Please enter a valid CCV.</div>
    }
    }
  </div>

  <div class="button-container">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>