<div class="container mt-2">
<h5 class="modal-title">Update schedule data</h5>
<form #updateScheduleForm="ngForm" (ngSubmit)="saveChanges()">
    <div class="mb-3">
      <label class="form-label" for="lineId">Line:</label>
      <select class="form-control" id="lineId" name="lineId" [(ngModel)]="scheduleUpdate.lineId" #lineId="ngModel" required>
        <option value="">Select a line</option>
        @for (line of lines; track line.id) {
          <option [value]="line.id">
            {{line.name}}
          </option>
        }
      </select>
      @if (formSubmitted && lineId.invalid) {
        @if (lineId.errors?.['required']) {
          <small>Zone is required.</small>
        }
      }
    </div>
    <div class="mb-3">
      <label class="form-label" for="departureTime">Departure Time:</label>
      <input 
        type="time" 
        class="form-control" 
        id="departureTime" 
        name="departureTime" 
        [(ngModel)]="scheduleUpdate.departureTime" 
        #departureTime="ngModel" 
        required
      >
      @if (formSubmitted && departureTime.invalid) {
        @if (departureTime.errors?.['required']) {
          <small class="text-danger">Departure time is required.</small>
        }
      }
    </div>
  
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="button" class="btn btn-danger" (click)="closeDialog()">Cancel</button>
  </form>
</div>