
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Line</th>
      <th scope="col">Station count</th>
      <th scope="col">Route details</th>
    </tr>
  </thead>
  <tbody>
    @for (line of linesWithStationCount; track $index) {
    <tr>
      <th scope="row">{{ $index + 1 }}</th>
      <td>{{ line.name }}</td>
      <td> {{line.stationCount}}</td>
      <td><button type="button" class="btn btn-primary" (click)="openRouteDetails(line)">Route details</button></td>
    </tr>
    }
  </tbody>
</table>
