<div class="container mt-2">
<h5 class="modal-title">Update station data</h5>
<form #updateStationForm="ngForm" (ngSubmit)="saveChanges()">
  
    <div class="mb-3">
      <label class="form-label" for="name">Name:</label>
      <input class="form-control" id="name" name="name" [(ngModel)]="stationUpdate.name" #name="ngModel" required lettersNumbers type="text">
      @if (name.invalid && (name.dirty || name.touched)) {
        @if (name.errors?.['required']) {<div class="text-danger">Name is required. </div>}
        @if (name.errors?.['lettersNumbers']) {<div class="text-danger">Name can only contain letters and numbers</div>}
      }
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="location">Location:</label>
      <input class="form-control" id="location" name="location" [(ngModel)]="stationUpdate.location" #location="ngModel" required lettersNumbers type="text">
      @if (location.invalid && (location.dirty || location.touched)) {
        @if (location.errors?.['required']) {<div class="text-danger"> Location is required.</div>}
        @if (location.errors?.['lettersNumbers']) {<div class="text-danger">Location can only contain letters and numbers</div>}
      }
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="gpsCode">GPS code:</label>
      <input class="form-control" id="gpsCode" name="gpsCode" [(ngModel)]="stationUpdate.gpsCode" #gpsCode="ngModel" required appGpsCodeValidator type="text">
      @if (gpsCode.invalid && (gpsCode.dirty || gpsCode.touched)) {
        @if (gpsCode.errors?.['required']) {<div class="text-danger"> GPS code is required.</div>}
        @if (gpsCode.errors?.['invalidGpsCode']) {<div class="text-danger">GPS Code must be in the correct format (e.g., 1.12, 9.78).</div>}
      }
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="zoneId">Zone:</label>
      <select class="form-control" id="zoneId" name="zoneId" [(ngModel)]="stationUpdate.zoneId" #zoneId="ngModel" required>
        <option value="">Select a zone</option>
        @for (zone of zones; track zone.id) {
          <option [value]="zone.id">
            {{zone.name}}
          </option>
        }
      </select>
      @if (formSubmitted && zoneId.invalid) {
        @if (zoneId.errors?.['required']) {
          <small>Zone is required.</small>
        }
      }
    </div>
  
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="button" class="btn btn-danger" (click)="closeDialog()">Cancel</button>
  </form>
</div>