<div class="container">
  <form #registerDriverForm="ngForm" (ngSubmit)="addNewDriver(registerDriverForm)">
    <h2 class="text-center text-primary">Register new driver</h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" name="firstName" [(ngModel)]="driverCreate.firstName"
            #firstName="ngModel" required lettersOnly placeholder="First Name" />
          <label>First Name</label>
          @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
          <div class="text-danger">
            @if (firstName.errors?.['required']) { First name is required.}
            @if (firstName.errors?.['lettersOnly']) { First name can only contain letters.}
          </div>
          }
        </div>

        <div class="mb-3 form-floating">
          <input type="email" class="form-control" name="email" (blur)="checkEmailExists()"
            [(ngModel)]="driverCreate.email" #email="ngModel" required email placeholder="Email" />
          <label>Email</label>
          @if (email.invalid && (email.dirty || email.touched)) {
          <div class="text-danger">
            @if (email.errors?.['required']) {Email is required.}
            @if (email.errors?.['email']) {Invalid email format.}
          </div>
          }
          @if (emailExists) {
          <div class="text-danger">
            This email is already in use. Please use a different email.
          </div>
          }
        </div>

        <div class="mb-3 form-floating">
          <input type="date" class="form-control" name="birthDate" [(ngModel)]="driverCreate.birthDate" [max]="maxDate"
            #birthDate="ngModel" required [minDate]="'1900-01-01'" appValidDate placeholder="Birth Date" />
          <label>Birth Date</label>
          @if (birthDate.invalid && (birthDate.dirty || birthDate.touched)) {
            @if (birthDate.errors?.['required']) {
            <div class="text-danger">Birth Date is required.</div>
            }
            @if (birthDate.errors?.['minDate']) {
            <div class="text-danger">{{ birthDate.errors?.['minDate'] }}</div>
            }
            @if (birthDate.errors?.['maxDate']) {
            <div class="text-danger">{{ birthDate.errors?.['maxDate'] }}</div>
            }
            @if (birthDate.errors?.['invalidDate']) {
            <div class="text-danger">Invalid date format.</div>
            }
            }
        </div>
        <div class="mb-3 form-floating">
          <input class="form-control" name="license" [(ngModel)]="driverCreate.license" #license="ngModel" required
            lettersNumbers type="text">
          <label>License</label>
          @if (license.invalid && (license.dirty || license.touched)) {
          @if (license.errors?.['required']) {
          <div class="text-danger">License required.</div>
          }
          @if (license.errors?.['lettersNumbers']) {
          <div class="text-danger">License can only contain letters and numbers.</div>
          }
          }
        </div>

        <div class="mb-3 form-floating">
          <input class="form-control" name="workingHoursInAWeek" [(ngModel)]="driverCreate.workingHoursInAWeek"
            #workingHoursInAWeek="ngModel" type="number" min="0" max="80">
          <label>Working Hours in a Week:</label>
          @if (workingHoursInAWeek.invalid && (workingHoursInAWeek.dirty || workingHoursInAWeek.touched)) {
          @if (workingHoursInAWeek.errors?.['min']) {
          <div class="text-danger">
            Working hours cannot be negative.
          </div>
          }
          @if (workingHoursInAWeek.errors?.['max']) {
          <div class="text-danger">
            Working hours cannot exceed 80 per week.
          </div>
          }
          }
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" name="lastName" [(ngModel)]="driverCreate.lastName"
            #lastName="ngModel" required lettersOnly placeholder="Last Name" />
          <label>Last Name</label>
          @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
          <div class="text-danger">
            @if (lastName.errors?.['required']) { Last name is required.}
            @if (lastName.errors?.['lettersOnly']) { Last name can only contain letters.}
          </div>
          }
        </div>

        <div class="mb-3 form-floating position-relative">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="password"
            [(ngModel)]="driverCreate.password" #password="ngModel" required placeholder="Password"
            (input)="onPasswordInput()" (focus)="onPasswordFocus()" (blur)="onPasswordBlur()" />
          <label>Password</label>
          <button type="button" class="position-absolute end-0 top-50 translate-middle-y"
            style="width: 30px !important; height: 30px !important; padding: 0 !important; font-size: 18px !important; border-radius: 50% !important; display: flex; align-items: center; justify-content: center; border: none !important; background-color: transparent !important;"
            (click)="togglePasswordVisibility()">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
          @if (password.dirty || password.touched) {
          <div class="text-danger">
            @if (password.errors?.['required']) {
            Password is required.
            }
          </div>
          }
          <app-password-strength-indicator [show]="showPasswordStrength" [hasUpperCase]="hasUpperCase"
            [hasLowerCase]="hasLowerCase" [hasNumber]="hasNumber" [hasSpecialChar]="hasSpecialChar"
            [hasMinLength]="hasMinLength"></app-password-strength-indicator>
        </div>

        <div class="mb-3 form-floating">
          <input type="text" class="form-control" name="address" [(ngModel)]="driverCreate.address" #address="ngModel"
            required placeholder="Address" />
          <label>Address</label>
          @if (address.invalid && (address.dirty || address.touched)) {
          <div class="text-danger">
            Address is required.
          </div>
          }
        </div>
        <div class="mb-3 form-floating">
          <input type="date" class="form-control" name="hireDate" [max]="maxDate" [(ngModel)]="driverCreate.hireDate"
            #hireDate="ngModel" required appValidDate placeholder="Hire Date" />
          <label>Hire Date</label>
          @if (hireDate.invalid && (hireDate.dirty || hireDate.touched)) {
          @if (hireDate.errors?.['required']) {
          <div class="text-danger">Hire Date is required.</div>
          }
          @if (hireDate.errors?.['minDate']) {
          <div class="text-danger">{{ hireDate.errors?.['minDate'] }}</div>
          }
          @if (hireDate.errors?.['maxDate']) {
          <div class="text-danger">{{ hireDate.errors?.['maxDate'] }}</div>
          }
          @if (hireDate.errors?.['invalidDate']) {
          <div class="text-danger">Invalid date format.</div>
          }
          }
        </div>
        <div class="mb-3 form-floating">
          <input class="form-control" name="driversLicenseNumber" [(ngModel)]="driverCreate.driversLicenseNumber"
            #driversLicenseNumber="ngModel" required lettersNumbersDashes type="text">
          <label>Driver's License Number</label>
          @if (driversLicenseNumber.invalid && (driversLicenseNumber.dirty || driversLicenseNumber.touched)) {
          @if (driversLicenseNumber.errors?.['required']) {
          <div class="text-danger">Drivers license number is required.</div>
          }
          @if (driversLicenseNumber.errors?.['lettersNumbersDashes']) {
          <div class="text-danger">Drivers license can only contain letters,numbers and dashes.</div>
          }
          }
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Upload Profile Image</label>
      <input type="file" class="form-control" name="image" (change)="onFileSelected($event)" #fileInput />
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success me-2" type="submit">
        Register
      </button>
      <button class="btn btn-danger me-2" type="button" [routerLink]="'/manager-dashboard/drivers'">
        Cancel
      </button>
    </div>
  </form>
  @if (errorMessage) {
  <div class="alert alert-danger mt-2">
    {{ errorMessage }}
  </div>
  }
</div>