app-nav {
<<<<<<< HEAD
    display: block;
    width: 100%;
    position: fixed; /* Ensures it's always at the top */
    top: 0;
    left: 0;
    z-index: 1000;
   /* Makes sure it stays on top of other elements */
  }
   
  div {
    margin-top: 55px; /* Adjust this based on the height of your nav */
    padding: 20px;
    padding: 0;
  }
=======
  display: block;
  width: 100%;
  position: fixed; /* Ensures it's always at the top */
  top: 0;
  left: 0;
  z-index: 1000;
 /* Makes sure it stays on top of other elements */
}

div{
  margin-top: 65px; /* Adjust this based on the height of your nav */
  padding: 20px;
  padding: 0;
}
>>>>>>> 9f54e139c4258857d9626f5216c64e500ad6af9e
