<h5 class="modal-title">Manage routes</h5>
<h5 class="modal-title">Line: {{line.name}}</h5>
<div class="button-container d-flex gap-2 me-5" style="margin-bottom: 30px; margin-top: 10px;">
    <button class="btn btn-success" (click)="finishAddingRoutes()">Finish adding</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel adding rooutes</button>
</div>

<table class="table table-borderless align-middle">
    <thead>
        <tr>
            <th>Station</th>
            <th>Distance from the next station</th>
            <th>Order</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let routeForm of routesForms; let i = index" [formGroup]="routeForm">
            <td>
                <select class="form-select" formControlName="stationId">
                    <option *ngFor="let station of stations" [value]="station.id">{{ station.name }}</option>
                </select>
                <div *ngIf="routeForm.get('stationId')?.invalid && routeForm.get('stationId')?.touched"
                    class="text-danger validation-message">
                    <div *ngIf="routeForm.get('stationId')?.errors?.['required']">
                        Station is required.
                    </div>
                </div>
            </td>

            <td>
                <input type="time" class="form-control" formControlName="distanceFromTheNextStation" />
                <div *ngIf="routeForm.get('distanceFromTheNextStation')?.invalid && routeForm.get('distanceFromTheNextStation')?.touched"
                    class="text-danger validation-message">
                    <div *ngIf="routeForm.get('distanceFromTheNextStation')?.errors?.['required']">
                        Distance from the nex station is required.
                    </div>
                </div>
            </td>

            <td>
                <select class="form-select" formControlName="order">
                    <option *ngFor="let orderNumber of routeCountArr" [value]="orderNumber">
                        {{ orderNumber }}
                    </option>
                </select>
                <div *ngIf="routeForm.get('order')?.invalid && routeForm.get('order')?.touched"
                    class="text-danger validation-message">
                    <div *ngIf="routeForm.get('order')?.errors?.['required']">
                        Order is required.
                    </div>
                </div>
            </td>

            <td class="text-center">
                <button *ngIf="!routeForm.get('isEditMode')?.value" class="btn btn-primary"
                    (click)="addRoute(i)">Add</button>
                <button *ngIf="routeForm.get('isEditMode')?.value" class="btn btn-danger"
                    (click)="deleteRoute(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>